.footer {
    background-color: #30009C;
    height: 525px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 32px;
}

.footer h2 {
    color: #FAFAFA;
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
}

.footer p {
    color: #BFBFBF;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin-top: 0;
}

.footer .button {
    display: flex;
    padding-top: 15px;
    gap: 16px;
}

.footer .email {
    width: 319px;
    color: #98A2B3;
    display: flex;
    justify-content: flex-start;
    gap: 8px;
    height: 56px;
}

.footer .subsribe {
    background-color: #4C91ED;
    color: white;
    width: 130px;
    height: 56px;
}

.footer .subsribe:hover {
    background-color: #4483D5;
}

.footer .socialmedia {
    display: flex;
    gap: 16px;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
}

.footer .text{
    color: #BFBFBF;
}

.footer .contact {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    border-top: 1px solid #A3A3A3;
    margin-top: 40px;
    padding: 0 var(--app-block-padding);
    width: 1250px;
    padding-top: 30px;
    align-items: center;
}

.footer .text a {
    color: #4C91ED;
}

.footer .contactsocial {
    display: flex;
    gap: 56px;
}

.footer .legal {
    display: flex;
    justify-content: space-between;
    padding: 0 var(--app-block-padding);
    width: 1250px;
    padding-top: 64px;
}

.footer .legal-urls a, .copy {
    color: #BFBFBF;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    font-weight: bold;
}

.footer .legal-urls {
    display: flex;
    gap: 64px;
}

.legal .copy {
    font-weight: 500;
}