.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 0 var(--app-block-padding);
    height: 20px;
    padding-top: 40px;
}

.logo {
    width: 40px;
}

.menu ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

.menu ul li a {
    text-decoration: none;
    font-size: 16px;
    color: #B7ACC9;
}

.menu ul li a:active {
    color: #673BB7;
}

.menu ul li a:hover {
    color: #673BB7;
}

.button {
    display: flex;
    gap: 20px;
}

.signup, .login {
    width:124px;
    height: 50px;
}

.login a {
    text-decoration: none;
    font-size: 16px;
    color: #673BB7;
}

.login a:hover {
    color: white;
}

.menu .active {
    color: #673BB7;
}

.signedin {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.usericon {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width:500px) {
    .menu-icon {
        display: block;
    }

    .menu, .signup, .signup {
        flex-direction: column;
        position: absolute;
        left: 0;
        right: 0px;
        padding-left: 20px;
        top: 80px;
        background-color: black;
    }

    .header {
        display: flex;
        justify-content: space-between;
        height: 10px;
        margin-bottom: 0;
        padding-top: 40px;
    }
    
    .menu ul {
        display: none;
        padding: 0;
    }

    .menu ul.mobile, .signup {
        display: block;
    }
    
    .menu ul li {
    padding: 10px 0;
}

.menu li.hidden-mobile, .signup, .login {
    display: none;
}
}