.login {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.login .bodytext {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 800px;
}

.login .image {
    width: 622px;
}

.login h1 {
    font-size: 48px;
    font-weight: 600;
}

.login .title {
    display: flex;
    align-items: center;
    gap: 20px;
}


.rememberbox {
    display: flex;
    gap: 5px;
    padding-bottom: 70px;
}

.inputbox {
    width: 24px;
}

.inputbox:checked {
    color: #30009C;
}

.signup {
    margin-top: 80px;
}

.login .button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login .facebook, .google {
    gap: 10px;
}   

.login .FacebookLogo, .GoogleLogo {
    width: 20px;
}

.login .facebook, .google:hover {
    transform: scale(1.02);
}

.divider {
    text-align: center;
    height: 0px;
    width: 100%;
    font-size: 14px;
    line-height: 0;
    border: 1px solid #A3A3A3;
    font-weight: 700;
}

.divider span {
    background-color: #F2E7FE;
    padding: 5px 15px;
}