.wrapper {
    padding: 0 var(--app-block-padding);
    margin: 0;
}

.product {
    background-color: #F2E7FE;
}

.specialoffer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: #9747FF;
    height: 90px;
}

.specialoffer h1, a {
    font-family: "Roboto";
    font-size: 32px;
    font-weight: 500;
    color: white;
}

.specialoffer a {
    font-size: 30px;
}

.seachsection {
    display: flex;
    justify-content: center;
    height: 80px;
    align-items: center;
    gap: 8px;
}

.input {
    width: 984px;
    height: 45px;
    box-shadow: 0 0 0 1.3px #878787;
    border: #878787;
    padding-left: 50px;
    border-radius: 8px;
}

.icon {
    position: absolute;
    left: 37%;
    padding-top: 9.5px;
}

.button {
    width: 124px;
    height: 50px;
}


