.btn, .btn-secondary, .btn-outline {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #30009C;
    color: white;
    padding: 20px 16px;
    width: 486px;
    height: 56px;
    border-radius: 8px;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.btn-outline {
    background-color: transparent;
    color: #30009C;
    border: 1px solid #30009C;
}

.btn-secondary {
    background-color: white;
    color: #30009C;
}

.btn:hover {
    background-color: transparent;
    color: #30009C;
    border: 1px solid #30009C;
}

.btn-outline:hover {
    background-color: #30009C;
    color: white;
}

